params {
    debug                       = true
    outdir                      = null
    keep_workdir                = false
    mount_images                = true
    create_workdir_symlinks     = false     // Should symlinks to prior tasks' workdirs be created in
                                            // current task's workdir?

    slurm.passwd_line           = null
    slurm.group_line            = null
    env_vars                    = null
    bind_mounts                 = null

    trace_report_suffix         = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
}

process {
    errorStrategy = 'finish'
}

profiles {
    apptainer {
        apptainer.enabled = true
        apptainer.envWhitelist = "APPTAINER_MESSAGELEVEL"
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

includeConfig 'conf/modules.config'
