env.APPTAINER_MESSAGELEVEL=5
env.SINGULARITY_MESSAGELEVEL=5

process {
    withName: NFCORE_DEMO {
        publishDir = [
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                pattern : 'nextflow_*.log',
            ],
            [
                path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                pattern: '*.sqfs',
            ]
        ]

        containerOptions = { container_opts }
    }
}
