env.APPTAINER_MESSAGELEVEL=5
env.SINGULARITY_MESSAGELEVEL=5

process {
    withName: NFCORE_DEMO {
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
            pattern : 'nextflow.log',
            saveAs: { "nextflow_${task.index}.log" }
        ]

        containerOptions = {

            env_vars = \
                [
                    "NXF_APPTAINER_CACHEDIR=\${NXF_APPTAINER_CACHEDIR}",
                    "NXF_HOME=\${NXF_HOME}",
                    "NXF_OFFLINE=\${NXF_OFFLINE}",
                    "NXF_CACHE_DIR=${cache_dir.resolveSymLink()}",
                    "${params.env_vars}"
                ].join(",")
        
            bind_mounts = \
                [
                    params.bind_mounts,
                    cache_dir.resolveSymLink(),
                ].findAll().join(",")

            [
                env_vars            ? "--env ${env_vars}" : "",
                params.mount_images ? ( image_mounts.relative ? "-B ${image_mounts.relative}" : "" ) : "",
                bind_mounts         ? "-B ${bind_mounts}" : "",
                env_file            ? "--env-file ${env_file}" : ""
            ].join(" ").trim()
        }
    }

    withName: SQUASH_WORK: {
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
            pattern: '*sqfs',
        ]
    }
}
